body{
    background: url(img.jpg);
}

.marq{
    font-size: 25px;
    margin-top: 10px;
    color: #ffa600;
    margin-left: 20%;
}
.top{
    color: white;
}
.btnClass{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}